<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Item - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-2 col-8">
                    <h3>Add New Item</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}
                    <form method=POST action='/postaddItem' enctype=multipart/form-data>
                        <!--ITEM NAME INPUT-->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Item Name</h6>
                            </div>
                            <input type="text" name="itemname" class="form-control" id="input-item-name" placeholder="Item Name">
                        </div>

                        <!--BARCODE INPUT-->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Barcode</h6>
                            </div>
                            <input type="text" name="barcode" class="form-control" id="input-barcode" placeholder="Barcode">
                        </div>
                        
                        <!--DESCRIPTION INPUT-->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Description</h6>
                            </div>
                            <textarea name="description" class="form-control" id="input-description" placeholder="Description"></textarea>
                        </div>

                        <!--PHOTO UPLOAD-->
                        <div class="input-title">
                            <h6>Photo Upload</h6>
                            <div class="input-subtitle">
                                Upload up to 3 photos.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <input type="file" name="photo1" accept="image/*" class="form-control" id="input-photo-1" placeholder="Photo">
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="file" name="photo2" accept="image/*" class="form-control" id="input-photo-2" placeholder="Photo">
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="file" name="photo3" accept="image/*" class="form-control" id="input-photo-3" placeholder="Photo">
                            </div>
                        </div>
                        

                        <!-- CONDITION INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Condition</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="new"> New<br>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="good"> Good<br>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="used"> Used<br>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="poor"> Poor<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- COLOR INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Color</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio row">
                                    <div class="col-6 col-sm-4 col-lg-2">
                                        <input type="checkbox" name="color" value="red"> Red<br>
                                        <input type="checkbox" name="color" value="orange"> Orange<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-2">
                                        <input type="checkbox" name="color" value="yellow"> Yellow<br>
                                        <input type="checkbox" name="color" value="green"> Green<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-2">
                                        <input type="checkbox" name="color" value="blue"> Blue<br>
                                        <input type="checkbox" name="color" value="purple"> Purple<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-2">
                                        <input type="checkbox" name="color" value="white"> White<br>
                                        <input type="checkbox" name="color" value="black"> Black<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-2">
                                        <input type="checkbox" name="color" value="brown"> Brown<br>
                                        <input type="checkbox" name="color" value="gray"> Gray<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SIZE INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Size</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="radio" name="size" value="xxs"> &lt;XS<br>
                                        <input type="radio" name="size" value="xs"> XS<br>
                                        <input type="radio" name="size" value="s"> S<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="size" value="m"> M<br>
                                        <input type="radio" name="size" value="l"> L<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="size" value="xl"> XL<br>
                                        <input type="radio" name="size" value="xxl"> &gt;XL<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- GENDER INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Gender</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-sm-4">
                                        <input type="radio" name="gender" value="male"> Male<br>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" name="gender" value="gender"> Female<br>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" name="gender" value="gender"> Unisex<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PROP TYPE INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Prop Type</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="radio" name="prop-type" value="hand"> Hand<br>
                                        <input type="radio" name="prop-type" value="personal"> Personal<br>
                                        <input type="radio" name="prop-type" value="set"> Set<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="prop-type" value="trims"> Trims<br>
                                        <input type="radio" name="prop-type" value="set-dressing"> Set Dressing<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="prop-type" value="greens"> Greens<br>
                                        <input type="radio" name="prop-type" value="fx"> FX<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- COSTUME TYPE INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Costume Type</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="radio" name="clothing" value="outerwear"> Outerwear<br>
                                        <input type="radio" name="clothing" value="tops"> Tops<br>
                                        <input type="radio" name="clothing" value="pants"> Pants<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="clothing" value="skirt"> Skirt<br>
                                        <input type="radio" name="clothing" value="dress"> Dress<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="clothing" value="footwear"> Footwear<br>
                                        <input type="radio" name="clothing" value="other"> Other<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- TIME PERIOD INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Time Period</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="checkbox" name="time-period" value="ancient"> Ancient<br>
                                        <input type="checkbox" name="time-period" value="classical"> Classical<br>
                                        <input type="checkbox" name="time-period" value="early-modern"> Early Modern<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="time-period" value="late-modern"> Late Modern<br>
                                        <input type="checkbox" name="time-period" value="contemporary"> Contemporary<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="time-period" value="future"> Future<br>
                                        <input type="checkbox" name="time-period" value="other"> Other<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Navigate back to home page/ Trigger the confirmation modal -->
                        <button type="submit" name="cancel-button" class="btn" id="cancel-button" value="Cancel">Cancel</button>
                        <!--ADD ITEM BUTTON-->
                        <button type="submit" name="add-item-button" class="btn offset-md-1" id="add-item-button" value="Add">Add Item</button>
                    </form>
                    <!-- Cancel Confirmation Modal -->
                    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    You have not submitted the form yet. Are you sure you want to discard the item addition form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep the form</button>
                                    <button type="submit" class="btn btn-primary" id="cancel-confirmed">Discard the form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        $('#cancel-confirmed').click(function() {
            location.href = 'home';
        });
        $( '#cancel-button' ).click(function() {
            $('#cancel-modal').modal('show');
            return false;
        });
    });
</script>
