<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Item - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <meta charset="utf-8">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-2 col-8 offset-md-4 col-md-4">
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}
                    <form method=POST action='/postaddItem' enctype=multipart/form-data>

                        <!--ITEM NAME INPUT-->
                        <div class="form-group">
                            <input type="text" name="itemname" class="form-control" id="input-item-name" placeholder="Item Name">
                        </div>

                        <!--BARCODE INPUT-->
                        <div class="form-group">
                            <input type="text" name="barcode" class="form-control" id="input-barcode" placeholder="Barcode">
                        </div>

                        <!--PHOTO UPLOAD-->
                        <div class="form-group">
                        <div class="input-title">
                            <h6>Photo Upload
                            <div class="input-subtitle">
                                Upload up to 3 photos.
                            </div></h6>
                        </div>
                            <input type="file" name="photo1" accept="image/*" class="form-control" id="input-photo-1" placeholder="Photo">
                        </div>
                        <div class="form-group">
                            <input type="file" name="photo2" accept="image/*" class="form-control" id="input-photo-2" placeholder="Photo">
                        </div>
                        <div class="form-group">
                            <input type="file" name="photo3" accept="image/*" class="form-control" id="input-photo-3" placeholder="Photo">
                        </div>

                        <!-- CONDITION INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Condition</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="radio" name="condition" value="like_new"> Like New<br>
                                    <input type="radio" name="condition" value="very_good"> Very Good<br>
                                    <input type="radio" name="condition" value="good"> Good<br>
                                    <input type="radio" name="condition" value="fair"> Fair<br>
                                    <input type="radio" name="condition" value="poor"> Poor<br>
                                </div>
                            </div>
                        </div>

                        <!-- COLOR INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Color</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="checkbox" name="colorSelect" value="red"> Red<br>
                                    <input type="checkbox" name="colorSelect" value="orange"> Orange<br>
                                    <input type="checkbox" name="colorSelect" value="yellow"> Yellow<br>
                                    <input type="checkbox" name="colorSelect" value="green"> Green<br>
                                    <input type="checkbox" name="colorSelect" value="blue"> Blue<br>
                                    <input type="checkbox" name="colorSelect" value="purple"> Purple<br>
                                    <input type="checkbox" name="colorSelect" value="white"> White<br>
                                    <input type="checkbox" name="colorSelect" value="black"> Black<br>
                                    <input type="checkbox" name="colorSelect" value="brown"> Brown<br>
                                    <input type="checkbox" name="colorSelect" value="gray"> Gray<br>
                                </div>
                            </div>
                        </div>

                        <!-- SIZE INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Size</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="radio" name="sizeSelect" value="xxs"> &ltXS<br>
                                    <input type="radio" name="sizeSelect" value="xs"> XS<br>
                                    <input type="radio" name="sizeSelect" value="s"> S<br>
                                    <input type="radio" name="sizeSelect" value="m"> M<br>
                                    <input type="radio" name="sizeSelect" value="l"> L<br>
                                    <input type="radio" name="sizeSelect" value="xl"> XL<br>
                                    <input type="radio" name="sizeSelect" value="xxl"> >XL<br>
                                </div>
                            </div>
                        </div>

                        <!-- GENDER INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Gender</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="radio" name="genderSelect" value="male"> Male<br>
                                    <input type="radio" name="genderSelect" value="female"> Female<br>
                                    <input type="radio" name="genderSelect" value="unisex"> Unisex<br>
                                </div>
                            </div>
                        </div>

                        <!-- CLOTHING INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Clothing Type</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="radio" name="clothingSelect" value="outerwear"> Outerwear<br>
                                    <input type="radio" name="clothingSelect" value="tops"> Tops<br>
                                    <input type="radio" name="clothingSelect" value="pants"> Pants<br>
                                    <input type="radio" name="clothingSelect" value="skirt"> Skirt<br>
                                    <input type="radio" name="clothingSelect" value="dress"> Dress<br>
                                    <input type="radio" name="clothingSelect" value="footwear"> Footwear<br>
                                    <input type="radio" name="clothingSelect" value="accessories"> Accessories<br>
                                </div>
                            </div>
                        </div>

                        <!-- TIME PERIOD INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Time Period</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="checkbox" name="timeSelect" value="prehistoric"> Prehistoric<br>
                                    <input type="checkbox" name="timeSelect" value="modern"> Modern<br>
                                    <input type="checkbox" name="timeSelect" value="futuristic"> Futuristic<br>
                                </div>
                            </div>
                        </div>

                        <!-- PROP/CONSTUME INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Item Type</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio">
                                    <input type="radio" name="typeSelect" value="prop"> Prop<br>
                                    <input type="radio" name="typeSelect" value="costume"> Costume<br>
                                </div>
                            </div>
                        </div>

                        <!--DESCRIPTION INPUT-->
                        <div class="form-group">                   
                            <textarea name="description" class="form-control" id="input-description" placeholder="Description"></textarea>
                        </div>
                        <!-- Navigate back to home page/ Trigger the confirmation modal -->
                        <button type="submit" name="cancel-button" class="btn" id="cancel-button" value="Cancel">Cancel</button>
                        <!--ADD ITEM BUTTON-->
                        <button type="submit" name="add-item-button" class="btn offset-md-1" id="add-item-button" value="Add">Add Item</button>
                    </form>
                    <!-- Cancel Confirmation Modal -->
                    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    You have not submitted the form yet. Are you sure you want to discard the item addition form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep the form</button>
                                    <button type="submit" class="btn btn-primary" id="cancel-confirmed">Discard the form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        $('#cancel-confirmed').click(function() {
            location.href = 'home';
        });
        $( '#cancel-button' ).click(function() {
            $('#cancel-modal').modal('show');
            return false;
        });
    });
</script>
