<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Production Folders - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <meta charset="utf-8">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/folderStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">

    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-2 col-8 offset-md-4 col-md-4">
                    <h3>Edit Production Folder Contents</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}
                    <form method=POST action='/posteditFolders/{{itemid}}'>
                        <!-- TO DO: ROUTING -->

                        <div class="form-group">
                            <div class="input-title">
                                <h6>Choose which folders you want to add/remove {{ itemname | first }} from</h6>
                            </div>
                            <div class="list-group">
                                <div class="btn-gtoup" data-toggle="buttons">
                                    <label class="btn list-group-item list-group-item-action">
                                        <input type="checkbox" name="options" id="option1" autocomplete="off"> Folder 1
                                    </label>
                                    <label class="btn list-group-item list-group-item-action">
                                        <input type="checkbox" name="options" id="option2" autocomplete="off"> Folder 2
                                    </label>
                                    <label class="btn list-group-item list-group-item-action">
                                        <input type="checkbox" name="options" id="option3" autocomplete="off"> Folder 3
                                    </label>
                                    <label class="btn list-group-item list-group-item-action">
                                        <input type="checkbox" name="options" id="option1" autocomplete="off"> Folder 4
                                    </label>
                                    <label class="btn list-group-item list-group-item-action">
                                        <input type="checkbox" name="options" id="option1" autocomplete="off"> Folder 5
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- CANCEL BUTTON -->
                        <!-- Trigger the confirmation modal -->
                        <button type="submit" name="cancel-button" class="btn" id="cancel-button" value="Cancel">Cancel</button>

                        <!--VIEW CONTENTS BUTTON-->
                        <button type="submit" name="add-to-folder-button" class="btn offset-md-1" id="add-to-folder-button" value="Add">Add to Selected Folder(s)</button>

                        <!-- CREATE NEW FOLDER BUTTON -->
                        <button type="submit" name="create-folder-button" class="btn" id="create-folder-button" value="Create">Create New Folder</button>

                    </form>
                    <!-- Cancel Confirmation Modal -->
                    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    You have not submitted the form yet. Are you sure you want to discard the form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep the form</button>
                                    <button type="submit" class="btn btn-primary" id="cancel-confirmed">Discard the form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        $('#cancel-confirmed').click(function() {
            location.href = '/item/{{itemid}}';
        });
        $( '#cancel-button' ).click(function() {
            $('#cancel-modal').modal('show');
            return false;
        });
    });
</script>
