<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - UAH Theatre</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homeStyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="https://use.fontawesome.com/f26043ee62.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar">
    <!--SEARCH BAR-->
    <form class="form-inline">
        <a class="navbar-brand" href="home.html">Thracker</a>
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn">
                    <span onclick="toggleFilterMenu()">Edit Filters</span>
                </button>
            </div>
            <input id="searchBar" class="form-control" type="text" placeholder="Enter any keywords">
            <span class="input-group-btn">
                <button class="btn" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
            


            <div id="menuNavButton">
                <span style="cursor:pointer" onclick="toggleAccountMenu()">Menu</span>
            </div>
            
            
        </div>
        
    </form>
</nav>
    
<div class="container-fluid">
    <div class="row">

        <div id="addNavButton">
            <span style="cursor:pointer" onclick="location.href='addItem.html'">Add Item</span>
        </div>
    </div>
</div>


    
    
    
    


<div id="filterMenu" class="leftSideNav">
  <a href="javascript:void(0)" class="closebtn" onclick="toggleFilterMenu()">&times;</a>
  <a href="#">Characteristic 1</a>
  <a href="#">Characteristic 2</a>
  <a href="#">Characteristic 3</a>
  <a href="#">Characteristic 4</a>
  <a href="#">Characteristic 5</a>
  <a href="#">Characteristic 6</a>
  <a href="#">Characteristic 7</a>
</div>


<div id="accountMenu" class="rightSideNav">
  <a href="javascript:void(0)" class="closebtn" onclick="toggleAccountMenu()">&times;</a>
  <a href="#">Reservations</a>
  <a href="#">My Account</a>
  <a href="#">Help & FAQ</a>
  <a href="login.html">Log Out</a>
</div>

</body>
</html>

<script>
    function toggleFilterMenu() {
        if (document.getElementById("filterMenu").style.width == "250px") {
            var menuItems = document.getElementById("filterMenu").getElementsByTagName('a');
            for (var i = 1; i < menuItems.length; i++) {
                menuItems[i].style.opacity = 0;
            }
            document.getElementById("filterMenu").style.width = "0";
        } else {
            if (document.getElementById("accountMenu").style.width == "250px") {
                toggleAccountMenu();
            }

            var menuItems = document.getElementById("filterMenu").getElementsByTagName('a');
            for (var i = 1; i < menuItems.length; i++) {
                menuItems[i].style.opacity = 1;
            }
            document.getElementById("filterMenu").style.width = "250px";
        }
    }


    function toggleAccountMenu() {
        if (document.getElementById("accountMenu").style.width == "250px") {
            var menuItems = document.getElementById("accountMenu").getElementsByTagName('a');
            for (var i = 1; i < menuItems.length; i++) {
                menuItems[i].style.opacity = 0;
            }
            document.getElementById("accountMenu").style.width = "0";
        } else {
            if (document.getElementById("filterMenu").style.width == "250px") {
                toggleFilterMenu();
            }

            var menuItems = document.getElementById("accountMenu").getElementsByTagName('a');
            for (var i = 1; i < menuItems.length; i++) {
                menuItems[i].style.opacity = 1;
            }
            document.getElementById("accountMenu").style.width = "250px";
        }
    }
</script>
