<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Item Detail - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homeStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/itemDetailStyle.css') }}">
    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="item-detail-container container-fluid">
            <div class="row">
                <div class="col-12">
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}
                    <p class="item-name">{{ itemname | first }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="item-image row">
                    {% for i in image %}
                        <div class="col-12">
                            <img id="item-preview" src="data:image/jpeg;base64, {{i}}" />
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reservation row">
                        <div class="col-12">
                            <p>Reservation Set (Check your profile for more details)</p>
                            <button class="btn" type="button">Reserve Item</button>
                        </div>
                    </div>

                    <div class="prod-folder row">
                        <div class="col-12">
                            <form method=POST action='/editFolders/{{itemid}}'>
                                <button class="btn" id="prod-folder-button" type="submit" value={{itemid}}>Add to Production Folder</button>
                            </form>
                        </div>
                    </div>

                    <div class="item-text row">
                        <div class="col-12">
                            <p>Barcode: {{itemid}}</p>
                            <p>Condition: TO DO</p>
                            <p>Color: TO DO</p>
                            <p>Size: TO DO</p>
                            <p>Gender: TO DO</p>
                            <p>Clothing  Type: TO DO</p>
                            <p>Time Period: TO DO</p>
                            <p>Item Type: TO DO</p>
                            <p>Description: {{description | first}}
                        </div>
                    </div>

                    <div class="item-action row">
                        <div class="col-12">
                            {%if delete | first %}
                            <p>Deletion Pending</p>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                        {%if delete | first %}
                            <button class="btn" id="edit-item-button" button style="background-color:grey" type="submit" disabled value={{itemid}}>Edit</button>
                        {% endif %}
                        {% if not delete|first %}
                            <form method=POST action='/editItem/{{itemid}}'>
                                <button class="btn" id="edit-item-button" type="submit" value={{itemid}}>Edit</button>
                            </form>
                        {% endif %}
                        </div>
                            {% if delete|first %}
                        <div class="offset-md-2 col-md-5">
                            <button class="btn" id="delete-item-button" button style="background-color:grey" type="submit" disabled>Delete Item</button>
                        </div>
                            {% endif %}
                            {% if not delete|first %}
                        <div class="offset-md-2 col-md-5">
                            <button class="btn" id="delete-item-button" type="submit">Delete Item</button>
                        </div>
                            {% endif %}
                    </div>
                    <!-- Deletion Confirmation Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Deletion Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                    <form method=POST action='/deleteItem/{{itemid}}'>
                                        <button class="btn btn-primary" id="delete-confirmed" type="submit" value={{itemid}}>Delete</button>
                                </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    $(document).ready(function() {
        $( '#delete-item-button' ).click(function() {
            $('#deleteModal').modal('show');
        });
    });
</script>
