<head>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbarStyle.css') }}">
    <script src="{{ url_for('static',filename='navbar.js') }}"></script>
</head>
<nav class="navbar fixed-top">
    <form class="form-inline">
        <!-- THRACKER -->
        <a class="navbar-brand" href="/home">Thracker</a>
        <div class="input-group">
            <!-- FILTER BUTTON -->
            <div class="input-group-btn search-panel">
                <button onclick="toggleFilterMenu()" type="button" class="btn">
                    <i class="fas fa-sliders-h"></i>
                </button>
            </div>
            <!-- SEARCH BAR INPUT -->
            <input id="searchBar" class="form-control" type="text" placeholder="Search by name">
            <!-- MAGNIFYING GLASS ICON BUTTON -->
            <span class="input-group-btn">
                <button class="btn" type="button"><i class="fas fa-search"></i></button>
            </span>
        </div>
        <!-- ADD ITEM BUTTON -->
        <div id="add-item-page-button" onclick="location.href='/addItem'">Add New Item</div>
        <!-- MENU BUTTON -->
        <div onclick="toggleAccountMenu()" id="menu-nav-button" class="ml-auto"><i class="fas fa-user-circle"></i>
        </div>
    </form>
</nav>
<!-- FILTER MENU -->
<div id="filter-menu" class="left-side-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleFilterMenu()">&times;</a>
    <a href="#">Characteristic 1</a>
    <a href="#">Characteristic 2</a>
    <a href="#">Characteristic 3</a>
    <a href="#">Characteristic 4</a>
    <a href="#">Characteristic 5</a>
    <a href="#">Characteristic 6</a>
    <a href="#">Characteristic 7</a>
</div>
<!-- ACCOUNT MENU -->
<div id="account-menu" class="right-side-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleAccountMenu()">&times;</a>
    <a href="#">Production Folders</a>
    <a href="#">My Reservations</a>
    <a href="#">My Account</a>
    <a href="#">Help & FAQ</a>
    <a href="/logout">Log Out</a>
</div>