<head>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbarStyle.css') }}">
    <script src="{{ url_for('static',filename='navbar.js') }}"></script>
</head>
<nav class="navbar fixed-top">
    <form class="form-inline">
        <!-- THRACKER -->
        <a class="navbar-brand" href="/home">Thracker</a>
        <div class="input-group">
            <!-- FILTER BUTTON -->
            <div class="input-group-btn search-panel">
                <button onclick="toggleFilterMenu()" type="button" class="btn">
                    <i class="fas fa-sliders-h"></i>
                </button>
            </div>
            <!-- SEARCH BAR INPUT -->
            <input id="searchBar" class="form-control" type="text" placeholder="Search by name">
            <!-- MAGNIFYING GLASS ICON BUTTON -->
            <span class="input-group-btn">
                <button class="btn" type="button"><i class="fas fa-search"></i></button>
            </span>
        </div>
        <!-- ADD ITEM BUTTON -->
        <div id="add-item-page-button" onclick="location.href='/addItem'">Add New Item</div>
        <!-- MENU BUTTON -->
        <div onclick="toggleAccountMenu()" id="menu-nav-button" class="ml-auto"><i class="fas fa-user-circle"></i>
        </div>
    </form>
</nav>
<!-- FILTER MENU -->
<div id="filter-menu" class="left-side-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleFilterMenu()">&times;</a>
    <form method=POST action='/filtered'>
        <!-- Apply Filters Button -->
        <input type="submit" class="offset-md-3" id="filter-menu-apply-button" value="Apply Filters">
        
        <!-- Prop Type -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Prop Type</button>
        <div class="panel" id="prop-type-select">
            <input type="checkbox" id="prop-type-select-hand" name="prop-type" value="hand"> Hand
            <br>
            <input type="checkbox" id="prop-type-select-personal" name="prop-type" value="personal"> Personal
            <br>
            <input type="checkbox" id="prop-type-select-set" name="prop-type" value="set"> Set
            <br>
            <input type="checkbox" id="prop-type-select-trim" name="prop-type" value="trims"> Trims
            <br>
            <input type="checkbox" id="prop-type-select-set-dressing" name="prop-type" value="set-dressing"> Set Dressing
            <br>
            <input type="checkbox" id="prop-type-select-greens" name="prop-type" value="greens"> Greens
            <br>
            <input type="checkbox" id="prop-type-select-fx" name="prop-type" value="fx"> FX
        </div>
        <!-- Costume Type -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Clothing Type</button>
        <div class="panel" id="costume-type-select">
            <input type="checkbox" id="costume-type-select-outer" name="costume-type" value="outer"> Outerwear
            <br>
            <input type="checkbox" id="costume-type-select-top" name="costume-type" value="top"> Top
            <br>
            <input type="checkbox" id="costume-type-select-pants" name="costume-type" value="pants"> Pants
            <br>
            <input type="checkbox" id="costume-type-select-skirt" name="costume-type" value="skirt"> Skirt
            <br>
            <input type="checkbox" id="costume-type-select-dress" name="costume-type" value="dress"> Dress
            <br>
            <input type="checkbox" id="costume-type-select-under" name="costume-type" value="under"> Underwear
            <br>
            <input type="checkbox" id="costume-type-select-footwear" name="costume-type" value="footwear"> Footwear
            <br>
            <input type="checkbox" id="costume-type-select-other" name="costume-type" value="other"> Other
            <br>
        </div>
        <!-- Time Period -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Time Period</button>
        <div class="panel" id="time-period-select">
            <input type="checkbox" id="time-period-select-ancient" name="time-period" value="ancient"> Ancient
            <br>
            <input type="checkbox" id="time-period-select-classical" name="time-period" value="classical"> Classical
            <br>
            <input type="checkbox" id="time-period-select-early-modern" name="time-period" value="earlymodern"> Early Modern
            <br>
            <input type="checkbox" id="time-period-select-late-modern" name="time-period" value="latemodern"> Late Modern
            <br>
            <input type="checkbox" id="time-period-select-contemporary" name="time-period" value="contemporary"> Contemporary
            <br>
            <input type="checkbox" id="time-period-select-future" name="time-period" value="future"> Future
            <br>
            <input type="checkbox" id="time-period-select-other" name="time-period" value="other"> Other
            <br>
        </div>
        <!-- Region -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Region</button>
        <div class="panel" id="region-select">
            <input type="checkbox" id="region-select-north-america" name="region" value="north-america"> N. America
            <br>
            <input type="checkbox" id="region-select-south-america" name="region" value="south-america"> S. America
            <br>
            <input type="checkbox" id="region-select-asia" name="region" value="asia"> Asia
            <br>
            <input type="checkbox" id="region-select-europe" name="region" value="europe"> Asia
            <br>
            <input type="checkbox" id="region-select-africa" name="region" value="africa"> Africa
            <br>
            <input type="checkbox" id="region-select-australia" name="region" value="australia"> Australia
            <br>
            <input type="checkbox" id="region-select-fantasy" name="region" value="other"> Fantasy
            <br>
            <input type="checkbox" id="region-select-sci-fi" name="region" value="other"> Sci-Fi
            <br>
            <input type="checkbox" id="region-select-other" name="region" value="other"> Other
            <br>
        </div>
        <!-- Sex -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Sex</button>
        <div class="panel" id="sex-select">
            <input type="checkbox" id="sex-select-male" name="sex" value="male"> Male
            <br>
            <input type="checkbox" id="sex-select-female" name="sex" value="female"> Female
            <br>
            <input type="checkbox" id="sex-select-unisex" name="sex" value="unisex"> Unisex
            <br>
        </div>
        <!-- Color -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Color</button>
        <div class="panel" id="color-select">
            <input type="checkbox" id="color-select-red" name="color" value="red"> Red
            <br>
            <input type="checkbox" id="color-select-orange" name="color" value="orange"> Orange
            <br>
            <input type="checkbox" id="color-select-yellow" name="color" value="yellow"> Yellow
            <br>
            <input type="checkbox" id="color-select-green" name="color" value="green"> Green
            <br>
            <input type="checkbox" id="color-select-Blue" name="color" value="blue"> Blue
            <br>
            <input type="checkbox" id="color-select-purple" name="color" value="purple"> Purple
            <br>
            <input type="checkbox" id="color-select-pink" name="color" value="pink"> Pink
            <br>
            <input type="checkbox" id="color-select-brown" name="color" value="brown"> Brown
            <br>
            <input type="checkbox" id="color-select-gray" name="color" value="gray"> Gray
            <br>
            <input type="checkbox" id="color-select-white" name="color" value="white"> White
            <br>
            <input type="checkbox" id="color-select-black" name="color" value="black"> Black
            <br>
        </div>
        <!-- Size -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Size</button>
        <div class="panel" id="size-select">
            <input type="checkbox" id="size-select-xxs" name="size" value="xxs"> &lt;XS
            <br>
            <input type="checkbox" id="size-select-xs" name="size" value="xs"> XS
            <br>
            <input type="checkbox" id="size-select-s" name="size" value="s"> S
            <br>
            <input type="checkbox" id="size-select-m" name="size" value="m"> M
            <br>
            <input type="checkbox" id="size-select-l" name="size" value="l"> L
            <br>
            <input type="checkbox" id="size-select-xl" name="size" value="xl"> XL
            <br>
            <input type="checkbox" id="size-select-xxl" name="size" value="xxl"> &gt;XL
            <br>
        </div>
        <!-- Condition -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Condition</button>
        <div class="panel" id="condition-select">
            <input type="checkbox" id="condition-select-new" name="condition" value="new"> New
            <br>
            <input type="checkbox" id="condition-select-good" name="condition" value="good"> Good
            <br>
            <input type="checkbox" id="condition-select-used" name="condition" value="used"> Used
            <br>
            <input type="checkbox" id="condition-select-poor" name="condition" value="poor"> Poor
            <br>
        </div>
        <!-- Availability -->
        <button type='button' class="filter-menu-title" onclick="toggleAccordion(this)">Availability</button>
        <div class="panel" id="availability-select">
            <input type="checkbox" id="availability-select-unavailable" name="availability" value="unavailable"> Unavailable
            <br>
            <input type="checkbox" id="availability-select-available" name="availability" value="available"> Available
            <br>
        </div>
    </form>
</div>
<!-- ACCOUNT MENU -->
<div id="account-menu" class="right-side-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleAccountMenu()">&times;</a>
    <a href="/folders">Production Folders</a>
    <a href="/reservations">My Reservations</a>
    <a href="#">My Account</a>
    <a href="#">Help & FAQ</a>
    <a href="/logout">Log Out</a>
</div>