<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Production Folders - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <meta charset="utf-8">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/folderStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/modalStyle.css') }}">

    </head>
    <body>
        <!--NAV BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-2 col-8 offset-md-4 col-md-4">
                    <h3>Production Folders</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}

                    <div style="text-align:center;">
                        <div class="form-group">
                            <div class="input-title">
                                <h6>Select a Production Folder</h6>
                            </div>

                            <ul class="list-group">
                                {% for foldername in foldernames %}

                                <li id="folder_{{foldername[0]}}" class="list-group-item list-group-item-action flex-column">
                                    <div class="d-flex w-100 justify-content-between" style="text-align:left;">
                                        <a href="folders/{{foldername[0]}}" class="folder-name">{{foldername[0]}}</a>
                                    
                                        <div style="min-width:51px; margin-left:13px;">
                                            <!--EDIT NAME BUTTON-->
                                            <button type="button" class="icon-button rename-folder" data-toggle="modal" data-target="#rename-modal" onclick="activate_rename_field('{{foldername[0]}}');"  data-tooltip="tooltip" data-placement="top" title="Rename Folder">
                                                {% include 'icon/pencil.svg' %}
                                            </button>

                                            <!--DELETE FOLDER BUTTON-->
                                            <button type="button" class="icon-button delete-folder" data-toggle="modal" data-target="#delete-modal" onclick="get_delete_name('{{foldername|first}}');"
                                            style="margin-left: 5px;" data-tooltip="tooltip" data-placement="top"
                                            title="Delete Folder">
                                                {% include 'icon/delete.svg' %}
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- CREATE NEW FOLDER BUTTON -->
                        <button type="button" name="create-folder-button" class="btn" id="create-folder-button" value="Create" data-toggle="modal" data-target="#add-folder-modal">Create New Folder</button>
                    </div>

                    <!-- Deletion Confirmation Modal -->
                    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Deletion Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    Are you sure you want to delete this folder?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <!-- <button class="btn btn-primary" id="delete-confirmed" type="submit" value={{folderid}}>Delete</button> -->
                                 <form method=POST action='/deleteFolder/{{fname}}'>
                                        <button class="btn btn-primary" id="delete-confirmed" type="submit">Delete</button>
                                            <input type="hidden" name="foldername" class="form-control" id="deleted-foldername" >
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Folder rename modal. Either this or inline editing (the <input> above) -->
                    <div class="modal fade" id="rename-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Rename the Folder</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form method=POST action="{{ url_for('renameFolder') }}">
                                    <div class="modal-body" style="text-align: left;">
                                        <div class="form-group">
                                            <input type="text" name="foldername" class="form-control" id="input-new-foldername" placeholder="Folder Name">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-primary" name="saveNameButton" id="save-name-button" type="submit">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Create new folder pop-up -->
                    <div class="modal fade" id="add-folder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create the Folder</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form method=POST action="/addFolder">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="text" name="foldername" class="form-control" id="input-new-folder" placeholder="Folder Name">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-primary" name="addFolderButton" id="add-folder-button" type="submit">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    var current_renamed_folder;

    $(document).ready(function() {
        $('#delete-confirmed').click(function() {
            location.href = 'folders';
        });

        $('#save-name-button').click(function() {
            //remove trailing space and tab from the beginning and end of the name string
            var name_input = $('#input-new-foldername').val().trim();
            $('#input-new-foldername').val(name_input);

            //Check if input is empty or contains just white spaces only
            if ( name_input.length === 0) {
                $('#save-name-button').prop('type', 'button');
                alert("The name either is empty or contains only white spaces. Please input the eligible name for the folder. Example: Folder number 12");
                return;
            //Check if the name is unchanged. It just closes the modal.
            } else if (name_input === current_renamed_folder) {
                $('#save-name-button').prop('type', 'button');
                $('#rename-modal').modal('hide');
                return;
            } else {
                alert_text = "There is an existing folder with that name. Please use the different name for the folder you are renaming."
                check_duplicate_folder_name("#save-name-button", name_input, alert_text);
            }
        });

        $('#add-folder-button').click(function() {
            //Reset current renamed folder to pass the first if statement and take all folders into account.
            current_renamed_folder = '';

            //remove trailing space and tab from the beginning and end of the name string
            var name_input = $('#input-new-folder').val().trim();
            $('#input-new-folder').val(name_input);

            if ( name_input.length === 0) {
                $('#add-folder-button').prop('type', 'button');
                alert("The name either is empty or contains only white spaces. Please input the eligible name for the folder. Example: Folder number 12");
                return;
            } else {
                alert_text = "There is an existing folder with that name. Please use the different name for the folder you are creating."
                check_duplicate_folder_name("#add-folder-button", name_input, alert_text);
            }
        });

        $('[data-tooltip="tooltip"]').tooltip({trigger: "hover"});
    });

    function activate_rename_field(folder_name) {
        $('#rename-modal').on('show.bs.modal', function(e) {
            $(this).find("input").val(folder_name);
            $(this).find("#save-name-button").val(folder_name);
            current_renamed_folder =  folder_name;
        });
    }

    function get_delete_name(folder_name) {
        $('#delete-modal').on('show.bs.modal', function(e) {
            $(this).find("input").val(folder_name);
            $(this).find("#delete-confirmed").val(folder_name);
        });
    }

    function check_duplicate_folder_name(button_id, name_input, alert_text) {
        var is_duplicate = false;
        $( '.list-group-item' ).each(function() {
            var foldername = $(this).attr('id').split("_")[1];
            if (foldername !== current_renamed_folder) {
                if (foldername === name_input) {
                    alert(alert_text);
                    $(button_id).prop('type', 'button');
                    is_duplicate = true;
                }
            }
        });

        if (!is_duplicate) {
            $(button_id).prop('type', 'submit');
        }
    }

</script>
