<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Reservations - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <meta charset="utf-8">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/folderStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/modalStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reservationStyle.css') }}">
        <!-- Calendar functions -->
        <script src="{{ url_for('static',filename='calendar.js') }}"></script>
    </head>
    <body>
        <!--NAV BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-1 col-10 offset-md-2 col-md-8">
                    <h3>My Reservations</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}

                    <div class="form-group">
                        <ul class="list-group">
                            Current Reservations
                            
                            <li class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between" style="text-align:left;">
                                    <!-- LINK TO ITEM'S DETAIL PAGE-->
                                    <a href="">Item name</a>
                                    <!-- START DATE -->
                                    MM/DD/YY
                                    <!--EDIT START DATE BUTTON-->
                                    <button type="button" class="icon-button rename-folder" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="Change Date" onclick="showCalendar()">
                                        {% include 'icon/pencil.svg' %}
                                    </button>
                                    <!-- END DATE -->
                                    MM/DD/YY
                                    <!--EDIT END DATE BUTTON-->
                                    <button type="button" class="icon-button rename-folder" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="Change Date" onclick="showCalendar()">
                                        {% include 'icon/pencil.svg' %}
                                    </button>

                                    <!--DELETE RESERVATION BUTTON-->
                                    <button type="button" class="icon-button delete-folder" data-toggle="modal" data-tooltip="tooltip" data-placement="top"
                                    title="Delete Reservation">
                                        {% include 'icon/delete.svg' %}
                                    </button>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
