.navbar {
    background-color: #0077C8;
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.7);
}
/*Text input part of search bar*/
.navbar #searchBar {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    margin-left: 2vh;
}
.navbar #searchBar::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
/*Search "Go" button*/
.navbar .input-group .input-group-btn button {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid white;
    color: white;
    cursor: white;
}
/*Edit Filters button*/
.navbar .input-group .search-panel button {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#menuNavButton {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 10px;
    margin-left: 2vh;
    color: white;
}

#addItemButton {
    font-size: 16px;
    background-color: #0275d8;
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: white;
}
#addItemButton:hover {
    background-color: #025aa5;
    cursor: pointer;
}

#cancelButton {
    font-size: 16px;
    background-color: white;
    border: 1px solid #adadad;
    margin-top: 3vh;
    margin-bottom: 4vh;
}
#cancelButton:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}


.add-container {
    margin-top: 5vh;
    padding: 3vh;
    display: inline-block;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 0px 6px #aaaaaa;
}

.add-container form {
    display:inline-block; 
    text-align:center; 
    width:100%;
}

#inputBarcode,
#inputItemName,
#inputDescription {
    width: 100%;
}

.btn-primary {
    background-color: #ff4646;
    border: none;
}

.btn-primary:hover {
    background-color: #cc2828;
    border: none;
}

/*-------------------SIDE MENUS-------------------*/


.rightSideNav, .leftSideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.rightSideNav {
    right: 0;
}
.leftSideNav {
    left: 0;
}

.rightSideNav a, .leftSideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.rightSideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.leftSideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.rightSideNav a:hover, .leftSideNav a:hover, .offcanvas a:focus{
    text-decoration: none;
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .rightSideNav, .leftSideNav {padding-top: 15px;}
  .rightSideNav a, .leftSideNav a {font-size: 18px;}
}
