#todo {
    text-align: center;
    margin-top: 10vh;
    color: red;
}

#menuNavButton {
    background-color: grey;
    padding: 4px 10px;
    margin-left: 2vh;
}

#addNavButton {
    background-color: grey;
    padding: 4px 10px;
    margin: 100px auto;
    width: 50%;
    text-align: center;
    color: white;
}


/*-------------------SIDE MENUS-------------------*/


.rightSideNav, .leftSideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.rightSideNav {
    right: 0;
}
.leftSideNav {
    left: 0;
}

.rightSideNav a, .leftSideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.rightSideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.leftSideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.rightSideNav a:hover, .leftSideNav a:hover, .offcanvas a:focus{
    text-decoration: none;
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .rightSideNav, .leftSideNav {padding-top: 15px;}
  .rightSideNav a, .leftSideNav a {font-size: 18px;}
}
