/* Item list */  
.all-items {
    padding-top: 5vh;
    margin-top: 30px;
}
@media screen and (min-width: 576px) { 
    .all-items {
        padding: 5vh 15vw !important;
    }
}
@media screen and (max-width: 575px) {
    .all-items {
        margin-top: 120px;
    }
}

/* Individual item box */
.item-summary {
    padding: 20px 40px;
}

.item {
    border: 1px solid #bebebe;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    
    -webkit-box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.06);
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.06);
    transition: 0.2s;
}

.item:hover {
    -webkit-box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.2);
} 

.item img {
    width: 100%;
    max-height: 50vh;
}
.item p {
    margin: 15px;
}

@media screen and (min-width: 48px) {
    .item-summary img {
        max-height: 50vh;
    }
}
.item-detail-button {
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #a3a3a3;
    font-size: 12px;
    padding: 6px 12px;
    transition: 0.2s;
}
.item-detail-button:hover {
    border-color: #0077C8;
    color: #0077C8
}
