.item-detail-container {
    padding: calc(54px + 40px) 20vw !important; /* navbar 1 row height is 54px */
}
@media screen and (max-width: 640px) {
    .item-detail-container {
        padding: calc(54px + 40px) 15vw !important; /* navbar 3 rows height is 54px */
    }
}

@media screen and (max-width: 575px) {
    .item-detail-container {
        padding: calc(156px + 20px) 15vw !important;
    }
}

@media screen and (max-width: 450px) {
    .item-detail-container {
        padding: calc(156px + 20px) 10vw !important;
    }
}

.item-name {
    font-weight: 600;
    font-size: 2rem;
}

.item-image {
    text-align: center;
}

.item-image img {
    width: 100%;
}

.prod-folder,
.reservation {
    margin: 20px;
    text-align: center;
    font-style: italic;
    color: #8b8b8b;
}

.prod-folder .btn,
.reservation .btn {
    color: white;
    background-color: #0077C8;
}

.prod-folder .btn:hover,
.reservation .btn:hover {
    background-color: #FDDA24;
    border-color: #FDDA24;
}

.item-action {
    text-align: center;
    margin-top: 40px;
}

.item-action button {
    width: 80%;
    color: white;
}

#edit-item-button {
    background-color: #0077C8;
}
#delete-item-button {
    background-color: #f55f5f;
}

#edit-item-button:hover,
#delete-item-button:hover {
    background-color: #FDDA24;
}
.item-action p {
    color: #e89797;
    font-style: italic;
}

#delete-confirmed {
    background-color: #ff4646;
    border: none;
}

#delete-confirmed:hover {
    background-color: #cc2828;
    border: none;
}