#header {
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-bottom: 12vh;
    background-color: #0077C8;
    color: white;
    text-align: center;
}

.container-fluid {
    text-align: center;
}

#accountTypeDiv {
    text-align: center;
    font-size: 20px;
}

#goButtonDiv button, #navButtonDiv button {
    padding: 10px 50px;
    font-size: 16px;
}
#goButtonDiv {
    margin-top: 3vh;
    margin-bottom: 6vh;
}
#goButtonDiv button {
    width: 30%;
}

@media screen and (min-width:480px) and (max-width:800px) {
    #goButtonDiv button, #navButtonDiv button {
        font-size: 14px;
    }
    #accountTypeDiv {
        font-size: 16px;
    }
}

@media screen and (max-width:479px) {
    #goButtonDiv button, #navButtonDiv button {
        font-size: 10px;
    }
    #accountTypeDiv {
        font-size: 12px;
    }
}

button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}