body {
    background-color: #fafcfe;
}

.login-header {
    padding: 4vh;
    background-color: #0077C8;
    color: white;
    text-align: center;
}

.login-container {
    margin-top: 5vh;
    padding: 3vh;
    display: inline-block;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 0px 6px #aaaaaa;
}

.login-container h3 {
    color: #6a6a6a;
    margin-bottom: 30px;
    text-align: center;
}

.login-container form {
    display:inline-block; 
    text-align:center; 
    width:100%;
}

#inputEmail, 
#inputPassword {
    width: 100%;
}

#accountTypeDiv {
    text-align: center;
    font-size: 20px;
}

#loginButton {
    width: 100%;
    font-size: 16px;
    background-color: #FDDA24;
    margin-top: 3vh;
    margin-bottom: 6vh;
}
#loginButton:hover {
    background-color: #ffff4c;
    cursor: pointer;
}

@media screen and (min-width:480px) and (max-width:800px) {
    #loginButton, #navButtonDiv button {
        font-size: 14px;
    }
    #accountTypeDiv {
        font-size: 16px;
    }
}

@media screen and (max-width:479px) {
    #loginButton, #navButtonDiv a {
        font-size: 10px;
    }
    #accountTypeDiv {
        font-size: 12px;
    }
}